<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InShare - Easy File Sharing </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="upload-container">

        <div class="drop-zone">
            <div class="icon-container">
                <img src="./file.svg" alt="file icon" class="center" draggable="false">
                <img src="./file.svg" alt="file icon" class="left" draggable="false">
                <img src="./file.svg" alt="file icon" class="right" draggable="false">
            </div>
            <input type="file" id="fileInput">
            <div class="title">Drop your files here or, <span class="browseBtn">browse</span></div>
        </div>
        <div class="progress-container">
            <div class="bgProgress"></div>
            <div class="inner-container">
                <div class="title">Uplodaing....</div>
                <div class="percent-container"><span id="percent">0</span>%</div>
                <div class="progress-bar"></div>
            </div>

        </div>
        <div class="sharing-container">
            <p class="expire">Link expires in 24 hrs</p>
            <div class="input-container">
                <input type="text" id="fileURL" readonly value="" />
                <img src="./copy-icon.svg" alt="copy-icon" id="copy-btn" />


            </div>
            <p>Or Send Via Email</p>
            <div class="email-container">
                <form id="emailForm" action="">
                    <div class="filed">
                        <label for="sender">Your Email </label>
                        <input type="email" required name="from-email" id="sender">
                    </div>
                    <div class="filed">
                        <label for="receiver">Receiver's Email </label>
                        <input type="email" required name="to-email" id="receiver">
                    </div>
                    <div class="filed" id="passwordInput">
                        <label for="receiver">Password </label>
                        <input type="text" name="set-password" id="setPassword" value="">
                    </div>
                    <!-- <button type="submit" id="btnSubmit">Send</button> -->
                    <button type="submit" id="btnSubmit">Send</button>
                </form>

            </div>
            <div class="protect">
                <div class="apply">
                    <!-- <input type="checkbox" id="check" onchange="checked()"> -->
                    <input type="checkbox" id="check">
                    <label for="check">Want to apply Password </label>
                </div>
                <div class="pswd">

                    <!-- -----------------------------------------------------  -->
                    <div class="email-container">
                        <form id="passwordForm" action="">
                            <div class="filed">
                                <label for="password">Your Password </label>
                                <input required name="password" id="password" value="">
                            </div>
                            <button type="submit" id="passwordSubmit">Apply</button>
                        </form>

                    </div>

                    <!-- ----------------------------------------------------------------------  -->
                </div>



                <!-- <button type="submit" id="btnSubmit">Send</button> -->
            </div>




        </div>


    </div>
    <div class="upload">

    </div>
    <div class="toast">
        Copied To ClipBoard
    </div>

    <script src="index.js"></script>

</body>

</html>